{
  "extends": [
    "eslint-config-airbnb", // Default rules for JavaScript style
    "plugin:flowtype/recommended" // Default rules for Flow static types
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype", // Rules for Flow static types
    "jest" // Rules for Jest tests
  ],
  "rules": {
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "flowtype/define-flow-type": 2,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0
  },
  "env": {
    "browser": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "shallow": true,
    "mount": true,
    "jasmine": true,
    "jest": true,
    "chai": true,
    "spy": true,
    "beforeEach": true
  }
}
